<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbook.board.user.UserMapper"> 
	
	<insert id="join" parameterType="UserVO" useGeneratedKeys="true" keyProperty="i_user">
<!-- useGeneratedKeys="true" keyProperty="i_user" : insert하자마자 pk 값을 UserVO에 넣는것 !!! -->
		INSERT INTO t_user
		(uid, upw, salt, nm, addr, ph) 
		VALUES
		(#{uid}, #{upw}, #{salt}, #{nm}, #{addr}, #{ph})
	</insert>
	
	
	<select id="selUser" parameterType="UserVO"
		resultType="UserVO">
		SELECT i_user, uid, upw, nm, r_dt, salt, profileImg
		FROM t_user
		WHERE 
		<if test='uid != null and uid != ""'>uid = #{uid}</if>
		<if test='i_user > 0'>i_user = #{i_user}</if>
	</select>

   
   <update id="updUser" parameterType="UserVO">
		UPDATE t_user
		SET m_dt = now()
		<if test='upw != null and upw !=""'>, upw = #{upw}</if>
		<if test='nm != null and nm !=""'>, nm = #{nm}</if>
		<if test='addr != null and addr !=""'>, addr = #{addr}</if>
		<if test='ph != null and ph !=""'>, ph = #{ph}</if>
		<if test='profileImg != null'>, profileImg = #{profileImg}</if>		
		WHERE i_user = #{i_user} 
	
	</update>
</mapper>








